*.o
*.lo
*.la
.libs
.deps
*.pc
Makefile
Makefile.in
.*.sw[po]
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.h*
/config.log
/config.status
/config.sub
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/config.cache
.dirstamp
INSTALL
Session.vim
tags
cscope.out
build.log
src/examples/pepper_efl_example
